{% extends "base.html" %}

{% block content %}
<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">Тестовое задание</h1>
        <p>Необходимо реализовать веб-приложение &quot;Телефонный справочник&quot; со следующим
            функционалом:
            <ul>
                <li> добавление записей; </li>
                <li> просмотр списка существующих записей; </li>
                <li> редактирование записей; </li>
                <li> удаление записей. </li>
            </ul>
            Каждая запись должна содержать номер телефона, ФИО и адрес.
            Допускается использование фрэймворков и ORM.
    </div>
</main>
{% endblock %}