{% extends "base.html" %}

{% block content %}
<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">{% block header-text %}Новый контакт{% endblock %}</h1>
        <form method="POST">
            <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
            <div class="form-group">
                    {{ form.phone.label_tag }}
                    {{ form.phone }}
                    <small id="nameHelp" class="form-text text-muted">Предпочитаемый формат ввода - +7XXXXXXXXXX</small>
                </div>
            <div class="form-group">
                {{ form.address.label_tag }}
                {{ form.address }}
            </div>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">{% block submit-btn-text %}Добавить контакт{% endblock %}</button>
        </form>
    </div>
</main>
{% endblock %}